---
# Wdrożenie Klucza SSH i Gathering Facts
# Ten Play ustawia uwierzytelnianie kluczem publicznym na hostach
- name: Przygotowanie Srodowiska i Wdrozenie Klucza SSH
  hosts: all
  gather_facts: true
  become: true

  tasks:
    # UWIERZYTELNIANIE: Wdrozenie klucza publicznego dla uzytkownika 'test'
    - name: Wdrozenie klucza publicznego dla uzytkownika {{ ansible_ssh_user }}
      ansible.builtin.authorized_key:
        user: "{{ ansible_ssh_user }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
      tags: [ssh_setup]

    - name: Weryfikacja środowiska
      ansible.builtin.debug:
        msg: "Wdrażanie na środowisko bazodanowe."

# Konfiguracja Serwera Bazy Danych
- name: Konfiguracja Serwera Bazy Danych
  hosts: db_servers
  become: true
  roles:
    - role: mysql_server

# Konfiguracja Klienta Bazy Danych
- name: Konfiguracja Klienta Bazy Danych
  hosts: db_clients
  become: true
  roles:
    - role: mysql_client
